.group-content-outer {
    border: 1px solid red;
    margin: 10px 15px;
    background-color: rgba(255, 255, 255, 1);
}

.group-content-inner {
    padding: 5px 5px;
}

.real-group {
  background-color: rgba(255, 255, 255, 1);
}

.phantom-group {
  background-color: rgba(170, 30, 30, 0.1);
}
