.group-content {
    border: 1px solid red;
    padding: 5px 5px;
    margin: 10px 15px;
}

.real-group {
  background-color: rgba(255, 255, 255, 1);
}

.phantom-group {
  background-color: rgba(170, 30, 30, 0.1);
}
