<div>
  <div>
    <div>
      <label>Choose "from" version</label>
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="fromVersion" (selectionChange)="onFromChanged($event)">
          <mat-option *ngFor="let version of versions" [value]="version"> {{ version.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div>
    <label>Choose "to" version</label>
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="toVersion" (selectionChange)="onToChanged($event)">
        <mat-option *ngFor="let version of versions" [value]="version"> {{ version.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="fromVersion != null && toVersion != null">
    <button (click)="onGoToDifference()">Show Diff</button>
  </div>
</div>
