<mat-dialog-content>
  <div>
    <div>
      <label>Name</label><input [(ngModel)]="leaf.name"/>
    </div>
    <div>
      <label>Value</label><input [(ngModel)]="leaf.value"/>
    </div>
    <div>
      <label>Value type</label><input [(ngModel)]="leaf.valueType"/>
    </div>
    <node-movement [parentVid]="parentGroupVid"></node-movement>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [mat-dialog-close]="null">Cancel</button>
  <button [mat-dialog-close]="leaf">Save</button>
</mat-dialog-actions>
