<mat-dialog-content>
  <div>
    <div>
      <label>Name</label><input type="text" [(ngModel)]="leaf.name"/>
    </div>
    <div>
      <label>Value</label><input [(ngModel)]="leaf.value"/>
    </div>
    <div>
      <label>Value type</label>
      <input type="radio" value="1" id="leaf-type-1" checked/><label for="leaf-type-1"> {{ leafTypeService.leafById(1)?.name }}</label>
    </div>
    <leaf-movement [parentVid]="parentGroupVid" (parentChange)="onParentChange($event)"></leaf-movement>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [mat-dialog-close]="null">Cancel</button>
  <button [mat-dialog-close]="[leaf, newParentGroupVid]">Save</button>
</mat-dialog-actions>
