<mat-dialog-content>
  <div>
    <div>
      <label>Name</label><input type="text" [(ngModel)]="leaf.name"/>
    </div>
    <div>
      <label>Value</label><input [(ngModel)]="leaf.value"/>
    </div>
    <div>
      <label>Value type</label>
      <div *ngFor="let leafType of leafTypeService.leafTypes()">
        <input type="radio" (click)="onLeafTypeClick(leafType)" [checked]="leaf.valueType === leafType.id"/><label> {{ leafType.name }}</label>
      </div>
    </div>
    <leaf-movement [parentVid]="parentGroupVid" (parentChange)="onParentChange($event)"></leaf-movement>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [mat-dialog-close]="null">Cancel</button>
  <button [mat-dialog-close]="[leaf, newParentGroupVid]">Save</button>
</mat-dialog-actions>
