<div>
  <new-group-button (onNewGroup)="onNewGroupCreated($event)" [groupContent]="parentGroup"></new-group-button>
  <new-leaf-button *ngIf="parentGroup" (onNewLeaf)="onNewLeafCreated($event)" [groupContent]="parentGroup"></new-leaf-button>
  <button (click)="switchShowed()">{{ isContentShowed ? '∨' : '>' }}</button>
  <div [hidden]="!isContentShowed">
    <group-content *ngFor="let groupContent of groups"
                   [groupContent]="groupContent"></group-content>
    <leaf-content *ngFor="let leafContent of leaves"
                  [leafContent]="leafContent"
                  (onUpdateLeaf)="onUpdateLeaf($event)"
                  [groupId]="parentGroup?.id"></leaf-content>
  </div>
</div>
