<div class="group-header">
  <new-group-button [parentGroupVid]="data.group.vid" (onNewGroup)="handleNewGroup($event)"></new-group-button>
  <new-leaf-button [groupId]="data.group.id" (onNewLeaf)="handleNewLeaf($event)"></new-leaf-button>
  <delete-group-button *ngIf="data.group.realNode" [groupId]="data.group.id" (onDeleteGroup)="handleDeleteGroup()"></delete-group-button>
  <edit-group-button *ngIf="data.group.realNode" [group]="data.group" [parentGroupVid]="data.parentGroup?.vid" (onUpdateGroup)="handleUpdateGroup($event)"></edit-group-button>
  <materialize-group-button *ngIf="!data.group.realNode" [group]="data.group" [parentGroup]="data.parentGroup" (onMaterializeGroup)="handleMaterializeGroup($event)"></materialize-group-button>
  <dematerialize-group-button *ngIf="data.group.realNode && data.group.vid !== data.group.id" [group]="data.group" (onDematerializeGroup)="handleDematerializeGroup($event)"></dematerialize-group-button>
</div>
