@import 'util/variables';

@import 'background';

@import 'components/header';

@import 'util/toast';
@import 'util/btns';
@import 'util/align';
@import 'util/text';
@import 'util/modal';

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin: 0px;
    font-size: 16px;

    #main-body {
      max-width: 1000px;
      margin: auto;
    }
}