<div class="group-container">
  <div class="group {{ node.value?.realNode ? 'in-use-group' : 'not-in-use-group' }}">
    <input *ngIf="original !== node"
      type="radio"
      name="move-node-check"
      (click)="onNodeCheckRadioClick()">
    <group-body *ngIf="node.parent != null" [node]="node"></group-body>
    <label *ngIf="node.parent == null">Root Node</label>
    <expand-block
      *ngIf="isExpandButtonShowed()"
      [isContentShowed]="isContentShowed()"
      (localShowChange)="changeLocalContentShow($event)"
      (globalShowChange)="changeGlobalContentShow($event)">
      <div>
        <tree-container [node]="node">
          <ng-template #groupContainer let-child>
            <group-movement-node  [node]="child"
                                  [original]="original"
                                  [parentChangeSubject]="parentChangeSubject"
                                  [expandMap]="expandMap"></group-movement-node>
          </ng-template>
        </tree-container>
      </div>
    </expand-block>
  </div>
</div>