.several-lines {
  white-space: pre-wrap;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  text-align: center;
}

.slightly-bigger-text {
  font-size: 16px;
}