<div>
  <div>
    <p>Choose "from" version</p>
    <div>
      <div *ngFor="let version of versions">
        <input type="radio" name="from-version-check" (click)="onFromVersionChoose(version)" />
        <label> {{ version.id }} </label>
      </div>
    </div>
  </div>
  <div>
    <p>Choose "to" version</p>
    <div>
      <div *ngFor="let version of versions">
        <input type="radio" name="to-version-check" (click)="onToVersionChoose(version)" />
        <label> {{ version.id }} </label>
      </div>
    </div>
  </div>
  <div *ngIf="fromVersion != null && toVersion != null">
    <button (click)="onGoToDifference()">Show Diff</button>
  </div>
</div>
