<move-updown-button [upShowCondition]="isUpButtonShowed()"
                    [downShowCondition]="isDownButtonShowed()"
                    (up)="handleMoveUp()"
                    (down)="handleMoveDown()"></move-updown-button>
<delete-leaf-button [node]="node"
                    [leaf]="leaf"
                    (onDeleteLeaf)="handleDeleteLeaf($event)"></delete-leaf-button>
<edit-leaf-button [leaf]="leaf"
                  [node]="node"
                  (onUpdateLeaf)="handleUpdateLeaf($event)"></edit-leaf-button>