<div class="group-leaves-container">
  <div class="group-leaves {{ group.realNode ? 'in-use-group' : 'not-in-use-group' }}">
    <group-content-sec [group]="group"></group-content-sec>
    <ng-template group-header></ng-template>
    <expand-block *ngIf="isExpandButtonShowed()"
                  [isContentShowed]="isContentShowed()"
                  (localShowChange)="changeLocalContentShow($event)"
                  (globalShowChange)="changeGlobalContentShow($event)"></expand-block>
    <div [hidden]="!isContentShowed()">
      <group-leaves-sec *ngFor="let _group of group.groupContent"
                        [config]="config"
                        [context]="context"
                        [group]="_group"
                        [parentGroup]="group"
                        [leaves]="_group.leafContent"></group-leaves-sec>
      <ng-container *ngIf="config.leafShowCondition()">
        <leaf-content-sec *ngFor="let leaf of group.leafContent"
                        [config]="config"
                        [context]="context"
                        [leaf]="leaf"
                        [parentGroup]="group"></leaf-content-sec>
      </ng-container>
    </div>
  </div>
</div>
