.group-leaves-container {
    margin: 0px 15px 10px 15px;
}

.group-leaves {
    border: 1px solid red;
}

.in-use-group {
  background-color: rgba(255, 255, 255, 1);
}

.not-in-use-group {
  background-color: rgb(255, 198, 198);
}
