.input-field {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;
  background-color: $light-grey;
  line-height: 25px;
  padding-left: 5px;

  &.error {
    box-shadow: 0 0 2px red;
  }

  &:hover {
    background-color: $white;
  }
}