<mat-dialog-content>
  <div>
    <past-group *ngFor="let groupContent of version.groupContent"
      (onRadioChange)="onRadioChange($event)"
      [parentId]="null"
      [groupContent]="groupContent">
    </past-group>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div *ngIf="chosenPastElement">
    <p>11</p>
    <label>{{ chosenPastElement.name }}</label>
  </div>

  <button [mat-dialog-close]="null">Cancel</button>
  <button [mat-dialog-close]="chosenPastElement">Save</button>
</mat-dialog-actions>
