.group-content-outer {
    border: 1px solid red;
    margin: 10px 15px;
    background-color: rgba(255, 255, 255, 1);
}

.group-content-inner {
    padding: 5px 5px;
}

.in-use-group {
  background-color: rgba(150, 150, 150, 0.1);
}

.not-in-use-group {
  background-color: rgba(255, 255, 255, 1);
}
