<div class="group-container">
  <div class="group {{ node.value?.realNode ? 'in-use-group' : 'not-in-use-group' }}">
    <group-header [node]="node" *ngIf="wholeVersionService.canChange"></group-header>
    <group-body [node]="node"></group-body>
    <expand-block
      *ngIf="isExpandButtonShowed()"
      [isContentShowed]="isContentShowed()"
      (localShowChange)="changeLocalContentShow($event)"
      (globalShowChange)="changeGlobalContentShow($event)"></expand-block>
    <div [hidden]="!isContentShowed()">
      <tree-container [node]="node">
        <ng-template #groupContainer let-child>
          <whole-version-node [node]="child" [expandMap]="expandMap"></whole-version-node>
        </ng-template>
      </tree-container>
      <ng-container *ngFor="let leaf of node.value.leafContent">
        <div class="leaf-content">
          <leaf-header [node]="node" [leaf]="leaf" *ngIf="wholeVersionService.canChange"></leaf-header>
          <leaf-body [leaf]="leaf"></leaf-body>
        </div>
      </ng-container>
    </div>
  </div>
</div>